<button (click)="showForm = !showForm" class="btn btn-primary mb-3">Add Business</button>
<div class="card card-body mb-3" *ngIf="showForm">
  <h2>Add Business</h2>
  <form #Bform="ngForm" (ngSubmit)="onSubmit(Bform)">
    <div class="form-group">
      <label>Business Name:</label>
      <input type="text" [ngClass]="{'is-invalid': businessName.errors && businessName.touched}" class="form-control"
        name="name" [(ngModel)]="work.name" #businessName="ngModel" required minlength="2">
      <div class="invalid-feedback" [hidden]="!businessName.errors?.required">
        Business Name is required
      </div>
      <div class="invalid-feedback" [hidden]="!businessName.errors?.minlength">
        Must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Business URL:</label>
      <input type="text" class="form-control" name="url" [(ngModel)]="work.url">
    </div>
    <div class="form-group">
      <label>Phone Number:</label>
      <input type="text" [ngClass]="{'is-invalid': businessPhone.errors && businessPhone.touched}" class="form-control"
        name="phone" [(ngModel)]="work.phone" #businessPhone="ngModel" required pattern="\d{3}-\d{3}-\d{4}">
      <div class="invalid-feedback" [hidden]="!businessPhone.errors?.required">
        Phone Number is required
      </div>
      <div class="invalid-feedback" [hidden]="!businessPhone.errors?.pattern">
        Must be a valid number (e.g. XXX-XXX-XXXX)
      </div>
    </div>
    <div class="form-group">
      <label>Business Hours:</label>
      <input type="text" [ngClass]="{'is-invalid': businessHours.errors && businessHours.touched}" class="form-control"
        name="hours" [(ngModel)]="work.hours" #businessHours="ngModel" required>
      <div class="invalid-feedback">
        Business Hours is required
      </div>
    </div>
    <button [disabled]="!Bform.form.valid" class="btn btn-block btn-primary mt-3 mb-3">Add
      business</button>
  </form>
</div>
<h2>List of businesses:</h2>

<ul class="list-unstyled mt-3">
  <li class="card card-body mb-2" *ngFor="let buzz of business">
    <h3>{{buzz.name}}</h3>
    <ul class="list-group">
      <li class="list-group-item">Website: <a [href]="buzz.url">{{buzz.url}}</a></li>
      <li class="list-group-item">Phone Number: {{buzz.phone}}</li>
      <h4 class="mt-2">Hours:</h4>
      <li class="list-group-item">{{buzz.hours}}</li>
    </ul>
  </li>
</ul>