<h2>List of businesses</h2>
<ul class="list-unstyled mt-3">
  <li class="card card-body mb-2" *ngFor="let buzz of business">
    <h3>{{buzz.name}}</h3>
    <ul class="list-group">
      <li class="list-group-item">Website: <a [href]="buzz.url">{{buzz.url}}</a></li>
      <li class="list-group-item">Phone Number: {{buzz.phone}}</li>
      <h4 class="mt-2">Hours:</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let time of buzz.hours">{{time}}</li>
      </ul>
    </ul>
  </li>
</ul>