<button (click)="showForm = !showForm" class="btn btn-primary mb-3">Add Business</button>
<div class="card card-body mb-3" *ngIf="showForm">
  <h2>Add Business</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label>Business Name:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="work.name">
    </div>
    <div class="form-group">
      <label>Business URL:</label>
      <input type="text" class="form-control" name="url" [(ngModel)]="work.url">
    </div>
    <div class="form-group">
      <label>Phone Number:</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="work.phone">
    </div>
    <div class="form-group">
      <label>Business Hours:</label>
      <input type="text" class="form-control" name="hours" [(ngModel)]="work.hours">
    </div>
    <button (click)="addBusiness()" [disabled]="work.name == '' || work.url == '' || work.phone == ''" class="btn btn-block btn-primary mt-3 mb-3">Add
      business</button>
  </form>
</div>
<h2>List of businesses:</h2>

<ul class="list-unstyled mt-3">
  <li class="card card-body mb-2" *ngFor="let buzz of business">
    <h3>{{buzz.name}}</h3>
    <ul class="list-group">
      <li class="list-group-item">Website: <a [href]="buzz.url">{{buzz.url}}</a></li>
      <li class="list-group-item">Phone Number: {{buzz.phone}}</li>
      <h4 class="mt-2">Hours:</h4>
      <li class="list-group-item">{{buzz.hours}}</li>
    </ul>
  </li>
</ul>